<%= simple_form_for [@restaurant, @review] do |f| %>
  <div class="form-inputs">
    <%= f.input :content %>
    <%= f.input :rating, place_holder: "0 to 5" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>
